@{
    ViewBag.Title = "Home Page";
}
<div id="view-tabs">
    <div class="jumbotron">
        <div class="overlay">
            <div class="container">
            </div>
        </div>
    </div>
</div>
