.#{$class-prefix}summary {
    overflow: hidden;
    margin: 2* $base-margin 0 0;

    .#{$class-prefix}blockquote {
        width: 100%;
        padding: 5*$base-padding 0 7*$base-padding;

        &:before {
            top: 23px;
        }

        &:after {
            bottom: 35px;
        }
    }

    .#{$class-prefix}blockquote#{$classname-seperator}lead {
        font-size: $class-summary-font-size;
    }

    img {
        width: 100%;
    }
}

.#{$class-prefix}summary-art#{$classname-seperator}image {
    float: none;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 1.5* $base-margin;
}

/* art_v2 are used with images */
.art#{$classname-seperator}v2 {
    background: $article-img-bg;

    .#{$class-prefix}summary-art#{$classname-seperator}image {
        padding: 6*$base-padding 6*$base-padding .5*$base-padding;

        img {
            width: 100%;
        }
    }
}

/* summary with blockquote */


/* Tablet and Desktop */

@include media-breakpoint-up(sm) {
    .art#{$classname-seperator}v2 {
        display: table;
        width: 100%;

        .#{$class-prefix}summary-art#{$classname-seperator}image img {
            width: auto;
            max-width: none;
            height: 100%;
        }
    }

    .#{$class-prefix}summary-bq-wraper,
    .art#{$classname-seperator}v2 .#{$class-prefix}summary-art#{$classname-seperator}image {
        display: table-cell;
        padding: 0;
        overflow: hidden;
    }

    .#{$class-prefix}summary-bq-wraper {
        vertical-align: middle;
        padding: 0 1.5*$base-padding;
    }

/* Tablet and Desktop */
    .art#{$classname-seperator}v1 .#{$class-prefix}summary-art#{$classname-seperator}image,
    .art#{$classname-seperator}v3 .#{$class-prefix}summary-art#{$classname-seperator}image {
        float: left;
        max-width: 260px;
        margin-right: 3* $base-margin;
    }

    .#{$class-prefix}tab#{$classname-seperator}pane .art#{$classname-seperator}v3 .#{$class-prefix}summary-art#{$classname-seperator}image {
        padding: 0;
    }
}
